#portfolio {
   min-width: 1000px;
}

body {
   color: #676666;
   font: 14px Arial,Helvetica,sans-serif;
}

.hold1 {
   max-width: 1600px;
   min-width: 1000px;
   position: relative;
}

#portfolio #hdr {
   height: 122px;
}
#hdr {
   font-size: 12px;
   height: 142px;
   padding: 0 20px;
   position: relative;
}


.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}

#logo {
   display: block;
   left: 40px;
   position: absolute;
   top: 30px;
}

a {
   color: #454545;
}

a img {
   border: 0 none;
}


#menu {
   float: left;
   padding: 57px 0 0 20px;
}


#menu a {
   color: #636363;
   font-size: 14px;
   font-weight: bold;
   margin-right: 20px;
   text-transform: uppercase;
}


#hdr #lang {
   left: 273px;
   position: absolute;
   text-transform: uppercase;
   top: 59px;
}

#hdr #lang a {
   font-size: 12px;
   margin-right: 2px;
}
#lang .s {
   color: #00AEBD;
   text-decoration: none;
}
a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}

#portfolio_menu {
   background: url("i/bg/portf_bg.gif") repeat-x scroll left bottom #F7F7F7;
   height: 80px;
   min-width: 1000px;
   padding-top: 20px;
   position: absolute;
   width: 100%;
   z-index: 100;
}

.cc {
   padding: 0 20px;
}

.m111 {
   clear: right;
   float: left;
   font-size: 12px;
   width: 33%;
}


#portfolio_menu .prev {
   background: url("i/push/arrl5.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
   color: #838383;
   display: block;
   font-size: 11px;
   left: 15px;
   padding-left: 25px;
   position: absolute;
   top: 0;
   width: 130px;
   z-index: 100;
}

#portfolio_menu .next {
   background: url("/i/push/arrr5.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
   color: #838383;
   display: block;
   font-size: 11px;
   padding-right: 25px;
   position: absolute;
   right: 15px;
   top: 0;
   width: 130px;
   z-index: 100;
}

a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}


#portfolio_menu .m112b {
   height: 80px;
   position: relative;
}
.m112b {
   float: left;
   width: 67%;
}

#portfolio_menu .back {
   color: #838383;
   display: inline-block;
   font-size: 11px;
   margin-left: 20px;
}

#project_menu {
   bottom: -15px;
   left: 20px;
   position: absolute;
}


#project_menu .s {
   background: url("i/bg/portf_s_bg.gif") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}
#project_menu a {
   display: inline-block;
   font-weight: bold;
   margin-right: 10px;
   padding-bottom: 32px;
   text-decoration: none;
}
a:hover, a.s {
   color: #00AEBD;
   text-decoration: none;
}

#project_menu a {
   font-weight: bold;
}

#project_menu a span {
   border-bottom: 1px dashed #454545;
}

#portfolio #project {
   padding-top: 80px;
}

#portfolio .team {
   border-top: 1px solid #E2E2E2;
   font-size: 12px;
   padding: 39px 0;
}
.team {
   background: none repeat scroll 0 0 #FFFFFF;
}

#portfolio .team .m112b {
   overflow: hidden;
}
.m112b {
   float: left;
   width: 67%;
}


#portfolio .team .m112b .cc {
   float: left;
   padding: 0 30px 0 20px;
}


#portfolio h3 .cc {
   display: block;
   text-align: right;
}

#portfolio .team i {
   color: #ABABAB;
   display: block;
}