/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}

@font-face {
   font-family: PFChampionScriptProRegular;
   src: url('fonts/PFChampionScriptPro-Regular.otf');
}

@font-face {
   font-family: KievitProRegular;
   src: url('fonts/KievitPro-Regular.otf');
}

@font-face {
   font-family: KievitProItalic;
   src: url('fonts/KievitPro-Italic.otf');
}

.sl1{
   background: url('1.png') scroll 50% 0;
   height: 646px;
}

.w905{
   width: 905px;
   margin: 0 auto;
}

.title-block{
   height: 274px;
   line-height: 274px;
   font-family: PFChampionScriptProRegular;
   font-size: 140px;
   color: #000000;
   text-align: center;
}

.kv{
   height: 56px;
   width: 56px;
   border: 2px #f0c990 solid;
   background: #ffffff;
   line-height: 56px;
   text-align: center;
   display: inline-block;
   margin-top: -29px;
}

.line{
   height: 2px;
   background: #f0c990;
   text-align: center;
   margin-bottom: 29px;
}

.line.left{
   text-align: left;
}

.st-text{
   font-family: KievitProRegular;
   line-height: 30px;
   font-size: 18px;
   color: #000000;
   margin-top: 60px;
   margin-bottom: 60px;
}

.st-text.italic{
   font-family: KievitProItalic;

}

.sl2{
   background: url('2.png') scroll 50% 0;
   height: 630px;
}

.sl3{
   background: url('3.png') scroll 50% 0;
   height: 300px;
}

.sl4{
   background: url('4.png') scroll 50% 0;
   height: 300px;
}

.sl5{
   background: url('5.png') scroll 50% 0;
   height: 300px;
}

.sl6{
   background: url('6.png') scroll 50% 0;
   height: 650px;
}

.sl7{
    background: url('7.png') scroll 50% 0;
    height: 300px;
 }


.sl8{
   background: url('8.png') scroll 50% 0;
   height: 963px;
}

.sl9{
   background: url('9.png') scroll 50% 0;
   height: 300px;
}

.slider{
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
   height: 130px;
   padding-top: 520px;
}

.sl10{
   background: url('10-1.png') scroll 50% 0;
}

.sl12{
   background: url('12-1.png') scroll 50% 0;
}

.sl13{
   background: url('13-1.png') scroll 50% 0;
}

.sl18{
   background: url('18-1.png') scroll 50% 0;
}


.sl15{
   background: url('15.png') scroll 50% 0;
   height: 300px;
}

.sl19{
   background: url('19.png') scroll 50% 0;
   height: 300px;
}

.sl20{
   background: url('20.png') scroll 50% 0;
   height: 840px;
}


.previews{
   text-align: center;
}

.one-preview{
   width: 110px;
   height: 86px;
   background: #ebebeb;
   cursor: pointer;
   margin: 2px;
   display: inline-block;
}

.one-preview.active, .one-preview:hover{
   margin: 0;
   border: 2px solid #f0c990;
   background: #ffffff;
}

.sep{
   display: inline-block;
   width: 8px;
   height: 86px;
}
.one-preview img{
   margin: 8px;
}

.easy-title{
   line-height: 64px;
   font-family: KievitProRegular;
   font-size: 60px;
   color: #000000;
   text-align: left;
   margin-bottom: 60px;
   margin-top: 60px;
}

.center-img{
   text-align: center;
   margin-top: 40px;
   overflow: hidden;
}

.button-sw{
   color: #af802f;
   font-family: KievitProItalic;
   font-size: 18px;
   line-height: 29px;
   margin: 0 10px;
   padding: 0 8px;
   display: inline-block;
   cursor: pointer;
}

.button-sw span{
   border-bottom: 1px dotted #af802f;
}

.button-sw.active span{
   border-bottom: none;
}

.button-sw.active{
   line-height: 27px;
   border: 1px solid #c2c2c2;
   color: #000000;
   margin: 0 9px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

.switch{
   text-align: center;
   margin-top: 30px;
}

.logoblock{
   height: 484px;
   background: url(eng-logo.png) 50% 0 no-repeat;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
   margin-top: 50px;
}